.header {
    padding: 25px 0 25px;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
    position: fixed;
    top: 0;
    background-color: #fff;
}

.header__avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
}

.header__name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 25px 0 0;
    margin: 0;
}